html, body, #root {
  margin: 0;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

input, textarea, button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  html, body, #root{
    font-size: small;
  }
}